html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Hepta Slab', serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #e0e0e0;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #427aad;
  text-shadow: 1px 1px 1px black;
}

p {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  text-align: justify;
}

li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 20px auto;
  background-color: rgb(253, 253, 253);
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}